@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>PROBLEMZ.</h1>
    </hgroup>
    <img src="../../imgs/grumpy-cat-no.jpg" alt="Grumpy cat sez No!" style="width: 50%;height: 50%;vertical-align: middle" />
</body>
</html>
