<h2>Upload kitteh.</h2>

<h4>@ViewBag.Message</h4><br />

@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" id="file" /><br />
    
    <label for="tags">Tagz:</label>
    <input type="text" name="tags" id="tags" /><br /><br/>
    
    <input type="submit" value="Upload kitteh's soul" class="btn btn-primary" />
    <br /><br />
}